$color-deep-blue: blue;
$color-deep-grayscale: #282c34;
$color-dark-grayscale: #383838;
$color-light-grayscale: #ccc;

$deep-red: #8a2b06;
$darkish-orange: #b94517;
$orange-color : #ad5502;

$dark-red: #92320c;
$deep-brown: #2c0d00;

